/*Design rendering of SignUp class*/

.form-container {
  margin: 100px auto;
  width: 1000px;
  box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.2), 0 7px 20px 0 rgba(0, 0, 0, 0.2);
  position: relative;
  border-radius: 30px;
  height: 600px;
  display: grid;
  overflow: hidden;
  /*number of frames*/
  grid-template-columns: 1fr;
}

.form-container2 {
  margin: 100px auto;
  width: 1000px;
  box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.2), 0 7px 20px 0 rgba(0, 0, 0, 0.2);
  position: relative;
  border-radius: 30px;
  height: 1000px;
  display: grid;
  /*number of frames*/
  grid-template-columns: 1fr;
  background: linear-gradient(90deg, lightblue 0%, lavender 100%);
}

.form-content {
  border-radius: 0 20px 10px 0;
  position: relative;
  background: linear-gradient(90deg, rgb(40, 40, 40) 0%, rgb(17, 17, 17) 100%);
}

.form {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 90%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.form h1 {
  font-size: 3rem;
  text-align: center;
  width: 80%;
  margin-bottom: 0.5rem;
  color: lightblue;
  margin-top: 1rem;
}

h1.step {
  text-align: left;
  color: #fff;
}

.form h2 {
  font-size: 2rem;
  text-align: center;
  width: 80%;
  margin-bottom: 0.2rem;
  color: #fff;
}

.h1 {
  font-size: 1rem;
  text-align: start;
  width: 80%;
  color: #fff;
}

.form-inputs {
  margin-bottom: 0.5rem;
  width: 80%;
}

.form-label {
  display: inline-block;
  font-size: 1rem;
  margin-bottom: 6px;
  color: #fff;
  color: lightblue;
}

.form-input {
  font-family: Arial, Helvetica, sans-serif;
  display: block;
  padding-left: 10px;
  outline: none;
  border-radius: 2px;
  height: 40px;
  width: 100%;
  border: none;
  font-size: 1.2rem;
  font-weight: 800;
  margin-bottom: 0.4rem;
}
.check {
  font-weight: 800;
  font-size: 1.2rem;
  color: black;
  font-family: Arial, Helvetica, sans-serif;
}

.form-input::placeholder {
  font-size: 1.2rem;
}

.form-input-btn {
  width: 30%;
  margin-top: 10px;
  border-radius: 2px;
  background: linear-gradient(
    90deg,
    rgb(39, 176, 255) 0%,
    rgb(0, 232, 236) 100%
  );
  outline: none;
  border: none;
  color: #fff;
  justify-content: center;
  align-items: center;
  margin-bottom: 0.5rem;
}

.form-input-btn:hover {
  cursor: pointer;
  background: linear-gradient(
    90deg,
    rgb(39, 143, 255) 0%,
    rgb(12, 99, 250) 100%
  );
  transition: all 0.4s ease-out;
}

.img {
  width: 50%;
  height: 80%;
  position: center;
  transform: translate(+45%);
}

.iframe {
  position: center;
  transform: translate(+120%);
}

.btn-text {
  font-size: 1.5rem;
  font-weight: 800;
  color: darkblue;
  margin: 1rem;
}

.blue {
  color: lightblue;
}
