/*Design rendering of elements on Browse page*/

.filter-btn {
  width: 100%;
  height: 50px;
  margin-top: 10px;
  border-radius: 2px;
  background: linear-gradient(
    90deg,
    rgb(39, 176, 255) 0%,
    rgb(0, 232, 236) 100%
  );
  outline: none;
  border: none;
  color: #fff;
  font-size: 1rem;
}

.cards_car {
  padding: 4rem;
  background: #fff;
}

h1 {
  text-align: center;
}

.cards__container_car {
  display: flex;
  flex-flow: column;
  align-items: center;
  max-width: 1120px;
  width: 90%;
  margin: 0 auto;
}

.cards__wrapper_car {
  position: relative;
  margin: 40px 30px;
  columns: 1 auto;
}

.cards__items_car {
  margin-bottom: 12px;
  list-style: none;
}

.cards__item_car {
  flex: 1;
  margin: 3rem 1rem;
  border-radius: 10px;
  height: 15rem;
}

.cards__item__link {
  display: flex;
  flex-flow: column;
  width: 100%;
  height: 21.5rem;
  box-shadow: 0 6px 20px rgba(56, 125, 255, 0.17);
  -webkit-filter: drop-shadow(0 6px 20px rgba(56, 125, 255, 0.017));
  filter: drop-shadow(0 6px 20px rgba(56, 125, 255, 0.017));
  border-radius: 10px;
  overflow: hidden;
  text-decoration: none;
}

.cards__item__pic-wrap {
  overflow: hidden;
  margin-top: 2.5rem;
  display: flex;
  justify-content: center;
}

.fade-img {
  animation-name: fade-img;
  animation-duration: 2s;
}

.cards__item__pic-wrap::after {
  content: attr(data-category);
  position: absolute;
  bottom: 0;
  margin-left: 10px;
  padding: 6px 8px;
  max-width: calc((100%) - 60px);
  font-size: 12px;
  font-weight: 700;
  color: #fff;
  background-color: #1f98f4;
  box-sizing: border-box;
}

.cards__item__img {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: block;
  width: 100%;
  max-width: 100%;
  height: 100%;
  max-height: 100%;
  object-fit: cover;
  transition: all 0.2s linear;
}

.cards__item__img_car {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: block;
  width: 80%;
  max-width: 100%;
  margin-bottom: 5rem;
  object-fit: cover;
  transition: all 0.2s linear;
}
.width-full {
  width: 100%;
}

.cards__item__img:hover,
.cards__item__img_car:hover {
  transform: scale(1.1);
}

.cards__item__info {
  padding: 240px 30px 30px;
}

.cards__item__text {
  color: #252e48;
  font-size: 18px;
  line-height: 24px;
  text-align: center;
  margin: 0rem;
  padding-bottom: 0.5rem;
}

@media only screen and (min-width: 1200px) {
  .content__blog__container {
    width: 84%;
  }
}

@media only screen and (min-width: 1024px) {
  .cards__items {
    display: flex;
  }
}

@media only screen and (max-width: 1024px) {
  .cards__item {
    margin-bottom: 2rem;
  }
}
